<nav class="navbar navbar-expand-lg navbar-dark bg-primary rounded">
    <a id="btnTimeline" class="navbar-brand" [routerLink]="['/']"><img class="nav-logo" a src="../assets/herbalife-nutrition-logo.png" alt=""></a>

    <ul class="navbar-nav ml-auto">

        <li #btnPerfil class="nav-item dropdown float-right d-none">
            <a #btnEmail class="nav-link dropdown-toggle" href="#"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{userEmail}}</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="users/{{userId}}" (click)="getUser(userId)">Mi perfil</a>
                <a class="dropdown-item" href="#" #btnLogout (click)="authService.logout()">Logout</a>
            </div>
        </li>
    </ul>
</nav>

<!-- Page Content -->
<div class="container container-main">
    <div class="row">
        <div class="col-md-12">
            <router-outlet></router-outlet>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->


<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
    </div>
    <!-- /.container -->
</footer>